{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class ='content-section'>
            <form method='POST'>
                <legend class='border-bottom mb-4'>ENTER NEW PASSWORD</legend>
                {% csrf_token %}
                    <fieldset>
                        {{form|crispy}}
                    </fieldset>
                    <div>
                        <button class='btn btn-outline-info' type ='submit'>CONFIRM</button>
                    </div>
                </form>
                
    </div>

{% endblock %}